.index{
    height: 100%;
    .el-container{
        height: 100%;
        // 左边
        .el-aside{
            background-color: rgb(48, 65, 86);
            text-align: center;
        }
        // 右边
        .el-container{
            // 头部，尾部
            .el-header ,.el-footer{
                 line-height: 60px;
            }
            // 中间
            .el-main{
            }
        }

    }
}